
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AGAD YÖNETİM PANELİ</title>
    <meta name="description" content="doğal afet acil durum bilgilendirici" />
    <meta name="keywords" content="doğal afet acil durum bilgilendirme" />
    <meta name="author" content="murat erkan" />
    <link rel="icon" type="image/ico" href="@Url.Content("~/Content/Images/afadlogo1.ico")" />
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/adminstyle.css")
    @Scripts.Render("~/Scripts/jquery.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    
</head>
<body >
    @Html.Partial("~/Views/ADMIN/_header.cshtml")
    <div class="container"> 
               @RenderBody()
        
    </div>
  
   
</body>
</html>
