<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" >
    <title>AGAD</title>
    <meta name="description" content="doğal afet acil durum bilgilendirici" />
    <meta name="keywords" content="doğal afet acil durum bilgilendirme" />
    <meta name="author" content="murat erkan" />
    <link rel="icon" type="image/ico" href="@Url.Content("~/Content/Images/afadlogo1.ico")" />
        @Styles.Render("~/Content/css")
   
    <!--web-fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!--web-fonts -->
    @Scripts.Render("~/Scripts/jquery.min.js")
    @Scripts.Render("~/Scripts/jquery.easing.1.3.js")
</head>
<body>
    
     @Html.Partial("~/Views/AGAD/_mainImage.cshtml")
     @RenderBody()
   
    <!-- scroll_top_btn -->
    @Scripts.Render("~/Scripts/move-top.js")
    @Scripts.Render("~/Scripts/easing.js")
    <script type="text/javascript">
        $(document).ready(function () {

            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };


            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>

    <!---smoth-scrlling---->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                debugger;
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1200);
            });
        });
    </script>

    <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
    @Scripts.Render("~/Content/plupload-2.1.7/js/plupload.full.min.js")
    @Scripts.Render("~/Scripts/jquery-ui.js")
    @Scripts.Render("~/Content/plupload-2.1.7/js/jquery.ui.plupload/jquery.ui.plupload.min.js")
    @Scripts.Render("~/Content/plupload-2.1.7/js/i18n/tr.js")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    
</body>
</html>