<!---start-services--->
<div class="services" id="services" >
    <!-- multistep form -->
    <div id="msform">
        <!-- progressbar -->
        <ul id="progressbar">
            <li class="active">GENEL BİLGİ</li>
            <li>Adres Bilgisi</li>
            <li>Resimler</li>
        </ul>
        <!-- forms -->
        <!-- general info form-->
         <form id="generalInfo">
             @Html.AntiForgeryToken()
            <h2 class="fs-title">GENEL BİLGİ</h2>
            
             
             <select name="AGADTYPE" id="AGADTYPE">
                 <option value="0">Doğal Afet Tipini Seçiniz</option>
                 @if (ViewBag.agadType != null)
                 {
                     foreach (var item in ViewBag.agadType)
                     {
                         @Html.Raw("<option value='" + item.Id + "'>" + item.NAME + "</option>")
                     }
                 }
             </select>
             <label for="AGADTYPE" style="color:red" class="error"></label>
                 <input type="text" name="endDate" id="endDate" placeholder="Bitiş Tarihi Seçiniz" style="text-align:center"/>
                 <input type="text"  name="EFFECTTEDAREA" placeholder="Etkilenen Bölgeler" />
                 <textarea name="COMMENT" placeholder="Açıklama" rows="4"></textarea>
                 <input type="button" name="next" class="next action-button" value="İleri" />
        </form>
        <!-- general info form-->
        <!-- address info form--> 
        <form id="adressInfo">
            @Html.AntiForgeryToken()
            <h2 class="fs-title">Adres Bilgisi</h2>
            
            <select name="CITY" id="CITY" style="margin-top:2%">
                @if (ViewBag.agadCityList != null)
                {
                    foreach (var item in ViewBag.agadCityList)
                    {
                        @Html.Raw("<option value='" + item.Id + "'>" + item.NAME + "</option>")
                    }
                }
            </select>
            <select name="TOWN" id="TOWN" style="margin-top:2%">
                @if (ViewBag.agadTownList != null)
                {
                    foreach (var item in ViewBag.agadTownList)
                    {
                        @Html.Raw("<option value='" + item.Id + "'>" + item.NAME + "</option>")
                    }
                }
            </select>

            <label for="TOWN" style="color:red" class="error"></label>
            <input type="text" name="VILLAGE" placeholder="Köy" style="margin-top:2%" />
            <label for="VILLAGE" style="color:red" class="error"></label>
            <input style="margin-top:2%" type="text" name="DISTINCT_REGION" placeholder="Mahalle" />
            <label for="DISTINCT_REGION" style="color:red" class="error"></label>
            <input style="margin-top:2%" type="text" name="REGION" placeholder="Belde Mevki" />
            <div>
                <input type="button" name="previous" class="previous action-button" value="Geri" />
                <input type="button" name="next" class="next action-button" value="İleri" />
            </div>
        </form>
        <!-- address info form--> 
        <!-- image upload form-->    
        <form id="imageInfo">
            <h2 class="fs-title">Doğal Afet ve Acil Durum Resimleri</h2>
            <div id="uploader">
                @Html.AntiForgeryToken()
                <p>Your browser doesn't have Flash, Silverlight or HTML5 support.</p>
            </div>
            <input type="button" name="previous" class="previous action-button" value="Geri" />
            <input type="button" name="submit" class="submit action-button" value="Kaydet" />
        </form>
        <!-- image upload form--> 
        <!-- post succes form-->
        <form id="success" style="padding:15%">
            <img src="@Url.Content("~/Content/Images/afadlogo.png")" />
            <h3 style="text-align: center; font-size: 1.8em; color: green;">Talebiniz İncelemeye Alınmıştır.</h3>
            <h3 style="text-align:center">Verdiğiniz Bilgilerden Dolayı Teşekür Ederiz</h3>
        </form>
        <!-- post succes form-->
        <!-- post failed form-->
        <form id="failed" style="padding:15%">
            <img src="@Url.Content("~/Content/Images/afadlogo.png")" />
            <h3 style="text-align: center; font-size: 1.8em; color: red;">Hata Oluştu Tekrar Deneyiniz.</h3>
            <h3 style="text-align:center">3 saniye sonra sayfa yenilenecektir.</h3>
        </form>
        <!-- post failed form-->
    </div>
    <!-- validation and button script-->
    @Scripts.Render("~/Scripts/mainNotificationPage.js")
  
</div>
<!---//end-services----->
