<div class="container container-mainpage">
    <div class="wrap">
        <div class="header">
            <header id="topnav">
                <nav>
                    <ul>
                        <li><a href="#services" class="scroll" style="padding:0"><span class="fa fa-bell "></span></a></li>
                        <li><a href="#clients" class="scroll" style="padding:0"><span class="fa fa-list "></span></a></li>
                        <li><a href="#team" class="scroll" style="padding:0"><span class="fa fa-users "></span> </a></li>
                        <li><a href="#contact" class="scroll" style="padding:0"><span class="fa fa-envelope "></a></li>
                        <li><a href="/admin" style="padding:0"><span class="fa fa-unlock "></span></a></li>  
                        <div class="clear"> </div>   
                    </ul>
                </nav>
                
                <h1><a href="/"><img src="@Url.Content("~/Content/Images/afadlogo1.png")" alt=""></a></h1>
                <a href="#" id="navbtn">Nav Menu</a>
                <div class="clear"> </div>
            </header>
        </div>
        <!-----script------------->
        @Scripts.Render("~/Scripts/menu.js")
        <div class="slider" id="home">

            <div class="wrap">
                <!---start-da-slider----->
                <div id="da-slider" class="da-slider">
                    <div class="da-slide">
                        <p>Hayat Kurtarmak İstermisiniz ?</p>
                        <h2>Acil Durumları Bize Bildiriniz<img src="@Url.Content("~/Content/Images/dot.png")" alt=""></h2>
                        <a href="#" class="da-link">Bildir</a>
                    </div>
                    <div class="da-slide">
                        <p>Hayat Kurtarmak İstermisiniz ?</p>
                        <h2>Acil Durumları Bize Bildiriniz<img src="@Url.Content("~/Content/Images/dot.png")" alt=""></h2>
                        <a href="#" class="da-link">Bildir</a>
                    </div>
                    <div class="da-slide">
                        <p>Hayat Kurtarmak İstermisiniz ?</p>
                        <h2>Acil Durumları Bize Bildiriniz<img src="@Url.Content("~/Content/Images/dot.png")" alt=""></h2>
                        <a href="#" class="da-link">Bildir</a>
                    </div>
                    <div class="da-slide">
                        <p>Hayat Kurtarmak İstermisiniz ?</p>
                        <h2>Acil Durumları Bize Bildiriniz<img src="@Url.Content("~/Content/Images/dot.png")" alt=""></h2>
                        <a href="#" class="da-link">Bildir</a>
                    </div>
                </div>

                @Scripts.Render("~/Scripts/jquery.cslider.js")

                <!---strat-slider---->
                @Styles.Render("~/Content/slider.css")
                @Scripts.Render("~/Scripts/modernizr.custom.28468.js")

                <script type="text/javascript">
                    $(function () {

                        $('#da-slider').cslider({
                            autoplay: true,
                            bgincrement: 450
                        });
                        $('.da-link').on('click', function () {
                            $('html,body').animate({ scrollTop: $('#services').offset().top }, 'slow');
                        });

                        
                    });
                </script>
                <!---//End-da-slider----->
            </div>
        </div>
    </div>
</div>

